<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">

    <title>Groovy at Gr8Ladies</title>

    <meta name="description" content="An introduction to the programming language Groovy for ICC14">
    <meta name="author" content="Jenn Strater">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/sky.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <link rel="stylesheet" href="css/main.css">

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/print/pdf.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

<!-- Any section element inside of this container is displayed as a slide -->
<div class="slides">
<section>
    <h1>Groovy at Gr8Ladies</h1>

    <h3>Iowa Code Camp 14</h3>

    <h3>November 1, 2014</h3>

    <p>
        <small>Presented By <a href="http://sites.google.com/site/jenniferstrater" target="_blank">Jenn Strater</a> / <a
                href="http://twitter.com/jennstrater" target="_blank">@jennstrater</a></small>
    </p>
    <aside class="notes">
        Hello and Thank you for attending my session Groovy at Gr8Ladies.
        Today I will be going through an interactive introduction to the programming language Groovy and using examples
        from our organization Gr8Ladies.
    </aside>
</section>

<section>
    <h2>Who am I?</h2>
    <a href="http://altegrahealth.com" target="_blank"><img class="no-box" src="images/altegra.png"/></a>

    <p>Software Engineer</p>

    <p>Healthcare Communications Division</p>

    <p>Minneapolis, MN</p>
    </p>
    <a href="http://gr8ladies.org" target="_blank"><img class="no-box" src="images/gr8ladiesSquare.jpg" height="150px"
                                                        width="150px"/></a>

    <p>Co-Founder</p>
    <aside class="notes">
        Of course you are probably wondering who I am. First, I’m Jenn Strater. I currently live in Minneapolis, MN where
        I am a software engineer in the healthcare communications division of a healthcare services company called Altegra Health.
        Quick pitch, we're hiring! http://altegrahealth.force.com/careers/ts2__JobDetails?jobId=a0xE0000004tgK2IAI&tSource=
        After hours, I work with my co-founder Allison to run the organization Gr8Ladies. My focus in gr8ladies is on
        retention and professional development within the Groovy ecosystem.
    </aside>
</section>

<section>
    <h2>Who are you?</h2>
    <ul>
        <li class="fragment">Students?</li>
        <li class="fragment">Professional Developers?</li>
        <ul>
            <li class="fragment">Java</li>
            <li class="fragment">.NET</li>
            <li class="fragment">PHP</li>
            <li class="fragment">Groovy?</li>
        </ul>
    </ul>
</section>

<section>
    <h2>Presentation Overview</h2>
    <ul>Disclaimer
        <li>I may say something wrong!</li>
    </ul>
    <aside class="notes">
        Again thanks everybody for coming. I'm still kind of new at this public speaking things and your input is
        greatly appreciated.
        Please remember to rate the presentation at the end(code camp info). Since I'm also kind of new, I like to make
        my sessions
        more of an active discussion. Chances are I may say something wrong or in a way that's confusing. Feel free to
        stop me and ask questions at any time.
        Just prepared that my answer may be "We'll get to it."
    </aside>
</section>

<section>
    <h2>Outline</h2>
    <ul>
        <li>Groovy Overview</li>
        <li>Basic Data Types</li>
        <li>Functions</li>
        <li>Loops</li>
        <li>Search</li>
        <li>Examples/Puzzles</li>
        <li>Files*</li>
        <li>APIs & JSON processing*</li>
    </ul>
</section>

<section>
    <h2>What's Groovy</h2>
    <ul>
        <li>Dynamic, compiled language for the Java Virtual Machine(JVM).</li>
        <li>Interoperable with existing Java libraries</li>
        <li>Concise, easy to read code</li>
        <li>Used by many major companies including:</li>
    </ul>
    <div>
        <img class="horizontal-list-element no-box" src="images/linkedin.jpg"/>
        <img class="horizontal-list-element no-box" src="images/netflix.jpg"/>
        <img class="horizontal-list-element no-box" src="images/mutualOfOmaha.jpg"/>
    </div>
    <aside class="notes">
        Groovy is the main focus of today’s session and the foundation of the Gr8 ecosystem of technologies.
        To start, Groovy is a dynamic compiled language for the JVM. That mean’s it’s dynamic like languages you may
        know like Python and PHP, but compiled for efficiency to run on the Java Virtual Machine aka the JVM.
        Many of you may be asking, why learn yet another programming language? And granted, Groovy is not the best
        language for every situation.
        However, in a setting where productivity is paramount and you are looking for the stability of the known
        architecture stack like Java, Groovy is the best choice.
        As you’ll see, Groovy’s easy to learn, flexible syntax and interoperability with existing Java libraries, make
        it a great language to add to your repertoire.
        It's not just a prototyping solution and many companies use Groovy for enterprise solutions including Netflix,
        LinkedIn, and Mutual of Omaha.
    </aside>
</section>

<section>
    <ul>
        <li>Open source -- maintained by <a href="http://www.pivotal.io/oss" target="_blank">Pivotal</a> and programmers
            like you!
        </li>
        <li><a href="http://groovy-lang.org" target="_blank">http://groovy-lang.org</a></li>
        <li>contribute: <a href="https://github.com/groovy/groovy-core" target="_blank">https://github.com/groovy/groovy-core</a>
        </li>
    </ul>
    <aside class="notes">
        Groovy is also open source. The repository for core is on github and anyone can submit a PR. It's under active
        development and the community is pretty friendly and welcoming to newcomers.
    </aside>
</section>

<section>
    <h2>The Groovy Ecosystem</h2>
    <ul class="column">
        <li><img class="no-box inline-image" src="images/grails.jpg"/><a href="http://grails.org"
                                                                         target="_blank"> Grails</a>
        </li>
        <li><img class="no-box inline-image" src="images/griffon.jpg"/><a
                href="http://griffon.codehaus.org" target="_blank"> Griffon</a></li>
        <li><img class="no-box inline-image" src="images/gradle.jpg"/><a
                href="http://gradle.codehaus.org" target="_blank"> Gradle</a></li>
    </ul>
    <ul class="column">
        <li><img class="no-box inline-image" src="images/missingImage.png"/><a
                href="https://code.google.com/p/spock/" target="_blank"> Spock</a> and <a
                href="http://www.gebish.org/">Geb</a></li>
        <li><img class="no-box inline-image" src="images/ratpack.jpg"/><a href="https://ratpack.io"
                                                                          target="_blank"> Ratpack</a>
        </li>
        <li><img class="no-box inline-image" src="images/missingImage.png"/> And Many More!</li>
    </ul>
    <aside class="notes">
        Once you learn the Groovy language, you are open to a whole new world of technologies
        including:
        Grails (the most common web framework in the Groovy eco-system and what many confuse with
        Groovy itself.)
        Griffon a desktop framework
        Gradle a popular build tool that can even be used for building android applications
        Spock and Geb testing frame,works
        Ratpack up and coming lightweight web framework (used for this presentation)
    </aside>
</section>

<section>
    <h2>Groovy Architecture</h2>
    <img class="no-box" src="images/GroovyStack.jpg"/>
    <aside class="notes"/>
    You may be wondering how all of this fits together.(explain graphic)
    An important thing to note is that Groovy is compiled into
    bytecode for the JVM. Groovy is NOT compiled into Java.
    This is how groovy can be used in so many different applications. Also notice how a framework like Grails can sit on
    top of and pull in existing Java libraries and frameworks
    like Spring and Hibernate.
    </aside>
</section>

<section>
    <h2>When to use Groovy</h2>
    <ul>
        <li>existing java libraries</li>
        <li>developers know java or another JVM language</li>
        <li>quick prototyping</li>
        <li>scripting</li>
        <li>writing tests</li>
    </ul>
</section>

<section>
    <h2>When NOT to use Groovy</h2>
    <ul>
        <li>lots of legacy code in another language especially Ruby</li>
        <li>need 'bare metal' level performance</li>
    </ul>
</section>

<section>
    <h2>Scripting</h2>

    <p>Console</p>
    <img class="no-box" src="images/groovyConsole.png" height="350px"/>

    <p>Shell</p>
    <img class="no-box" src="images/groovyShell.png" height="200px"/>

    <p><a href="http://groovyconsole.appspot.com" target="_blank">http://groovyconsole.appspot.com</a></p>
    <aside class="notes">
        There are a few different ways to try out groovy. The first is the interactive swing console. If you're looking
        for quick and dirty, you can also try the shell.
        If you don't want to download groovy yet, you can try the interactive web console at groovyconsole.appspot.com.
        Feel free to follow along if the wifi is any good in here.
    </aside>
</section>

<section>
    <h2>Hello, Code Camp!</h2>
        <pre><code data-trim contenteditable id="code">
            println "Hello, Iowa Code Camp!"
        </code></pre>
        <pre><code id="result">
            -> Hello, Iowa Code Camp!
        </code></pre>
    <aside class="notes">
        You can do anything you can do in Java in Groovy. In fact, Almost all Java code is valid Groovy code. Groovy,
        however, usually has a way to do things with less typing than Java.
        One big thing you’ll notice is that in Groovy, you don’t always have to declare a function and then call it.
        Since Groovy is a scripting language, you can just put commands outside of any function scope and it is valid
        Groovy. Semicolons are unnecessary.
    </aside>
</section>

<section>
    <h2>Data Types</h2>
    <ul>
        <li>Strings</li>
        <li>Collections
            <ul>
                <li>Lists</li>
                <li>Maps</li>
                <li>Ranges</li>
            </ul>
        </li>
        <li>Closures</li>
        <li>Def</li>
    </ul>
    <aside class="notes">
        We will look at a few datatypes in this workshop: In addition to your normal primitives(int, bool, etc), there are Strings,
        Collections, and Closures.
        Collections include classes such as Lists and Maps. Groovy Lists correspond with Java ArrayLists and Groovy Maps
        correspond with Java HashMaps.
        Closures are pieces of functionality that you can pass around as data.

        Groovy is optionally typed. When we don’t care what type a variable is or we want mixed typing, we can use def
        instead of a data type.
        Def, short for ‘define’, roughly translates to Java Object, the base class for all other classes.
    </aside>
</section>

<section>
    <h2>Strings</h2>

    <p>(examples in console)</p>
</section>

<section>
    <section>
        <h2>Collections</h2>
    </section>
    <section>
        <h2>Lists</h2>
        (examples in console)
    </section>
    <section>
        <h2>Maps</h2>
        (examples in console)
    </section>
    <section>
        <h2>Ranges</h2>
        <pre><code>(1..10)
        --> [1,2,3,4,5,6,7,8,9,10]</code></pre>
    </section>
</section>

<section>
    <h2>Functions</h2>
    <pre><code>
        int double(int x) {
            x * 2
        }
    </code></pre>
    <p>Flexible, but familiar syntax</p>
    <ul>Optional
        <li>parenthesis when calling functions</li>
        <li>parameter typing</li>
        <li>return statements</li>
    </ul>
    <aside class="notes">
        In order to talk about our next data type closures, I should probably start with how functions work in general.
        Function calls look very similar to other languages. If nothing else, I hope you remember these three things
        about groovy.
        Ok it's really just one. Almost everything is optional. Parenthesis around parameters are optional. Parameters
        are optionally typed.
        and lastly... remember return statements are optional. The last statement is returned (unless the return type is
        void)
    </aside>
</section>
<section><pre><code class="fragment">
    double(2)</code><code class="fragment">
    --> 4 </code><code class="fragment">
    double 8</code><code class="fragment">
    --> 16</code></pre>
    <aside class="notes">
        Using our double function from before, here you can see optional parenthesis around parameters when calling the
        function
    </aside>
</section>

<section>
    <h2>Closures</h2>
    <p>Code as Data</p>
    (to the console!)
</section>

<section>
    <h2>Loops and Special functions</h2>
    <ul>
        <li>Basic For Loop</li>
        <li>Each</li>
        <li>Collect</li>
        <li>Spread Dot</li>
    </ul>
</section>

</div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>
<script src="js/main.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            {
                src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            }
            },
            {
                src: 'plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            }
            },
            {
                src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            }
            },
            {
                src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            }
            },
            {
                src: 'plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            }
            }
        ]
    });

</script>

</body>
</html>
